<mat-toolbar color="primary" class="mat-elevation-z4 navbar">
  <span class="logo" [routerLink]="['/']" style="cursor:pointer">CustomerApp</span>
  <span class="spacer"></span>
  <nav>
    <button mat-raised-button routerLink="/" routerLinkActive="active">Home</button>
    <button mat-raised-button routerLink="/customers">Customers</button>
    <button mat-stroked-button routerLink="/create">Create</button>
  </nav>
</mat-toolbar>

<!-- Route Content Loads Here -->
<router-outlet></router-outlet>
